DIV, SPAN, INPUT
{
    font-family: Helvetica;
    font-size: 12px;
}

#filterPanel
{
    background: #ccc;
    min-width: 200px;
    min-height: 400px;
    clear: left;
    opacity: 0.9;
    position: absolute;
    z-index: 1000;
    top: 40px;
    left: 100px;
    padding: 6px;
    border: solid 1px #000;
}

.button
{
    background: #666;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.graphElement
{
    width: 600px;
    height: 400px;
}

.error
{
    color: #c00;
}

.hidden
{
    display: none;
}

.attributeConfig
{
    margin-top: 3px;
}

.block
{
    display: block;
}